{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
    <h1>Hello, <a href="/{{ current_user.username }}">{{ current_user.username }}</a></h1>
    </div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.tweet.label }}<br>
            {{ form.tweet(cols=50, rows=4) }}<br>
            {% for error in form.tweet.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <button class="btn btn-info" type="submit">Tweet</button>
    </form>
</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
        {% include '_tweets.html' %}

        {% if prev_url %}
        <a href="{{ prev_url }}">Prev Page</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Next Page</a>
        {% endif %}
    </div>
</div>
{% endblock %}

<!-- {% for tweet in tweets %}
<table>
    <tr>
        <td>
            <img src="{{ tweet.author.avatar(50) }}" alt="">
        </td>
        <td>{{ tweet.author.username }} says：<b>{{ tweet.body }}</td>
    </tr>
</table>
{% endfor %} -->
