{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="text-center col-lg-4"></div>
<div class="text-center col-lg-4">
<h1 class="h3 mb-3 font-weight-normal">Login</h1>
<form action="" method="post" class="form-signin">
    <p>
        {{ form.username.label }}
        {{ form.username() }}
        <!-- <label for="">Username</label>
        <input type="text" name="" id=""> -->
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password() }}
        <!-- <label for="">Password</label>
        <input type="password" name="" id=""> -->
    </p>
    <p>
        {{ form.remember_me() }}
        {{ form.remember_me.label }}   
        <!-- <input type="checkbox" name="" id="">
        <label for="">Remember Me</label> -->
    </p>
    <p>
        <button type="submit" class="btn btn-lg btn-primary ">Login</button>
        <!-- {{ form.submit() }}  -->
        <!-- <input type="submit" value="Login"> -->
    </p>
    <a href="{{ url_for('register') }}">New User?</a>
    <a href="{{ url_for('reset_password_request') }}">Forget Password?</a>
</form>
</div>
</div>
{% endblock %}
